
/***********FOOTER SOCIAL ICONS ********/


.footer-social-icons{
  float:right;
  height:20px;
  padding-left:2%;
}

.footer-social-icons:hover{
  filter:grayscale(100%);
  cursor:pointer;
}

/***********MEDIA QUERIES ********/

@media screen and (min-width: 768px){
	/**** LOGO SIZE****/

	.logo-image img{
		width:200px;
	}
}
/**** changing logos****/
   .desktop-logo{
   	display:none;/*will hide desktop logo in everything under 1024px*/
   }

@media screen and (min-width: 1024px){
	/**** changing logos****/

	.logo-image img{
		display:none; /*will hide mobile/tablet logo in every screen above 1024px*/
	}

	.desktop-logo{
		display:flex;
		justify-content:center;
	}
}