
/***********FOOTER SOCIAL ICONS ********/


.footer-social-icons{
  float:right;
  height:20px;
  padding-left:2%;
}

.footer-social-icons:hover{
  filter:grayscale(100%);
  cursor:pointer;
}


/***********SUB NAV ********/
.sub-nav {
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
}

.flex-wrapper-logo{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}


.float--right{
	float:right;
	padding-right:2%;
}

.float--right:hover{
	color:#3e3e3e;
}


li{
	list-style: none;
}

.font--proxima{
	font-family: "proxima nova";
	font-size: 24px;
	color:black;
}

/***********MEDIA QUERIES ********/

@media screen and (min-width: 633px){
	/**** LOGO SIZE****/

	.logo-image img{
		width:200px;
	}

	.site-header{ /*using the flex container instead of the child*/
		display:flex;
		flex-direction:row;
		justify-content:center;
	}
}
/**** changing logos****/
   .desktop-logo{
   	display:none;/*will hide desktop logo in everything under 1024px*/
   }

@media screen and (min-width: 1024px){
	/**** changing logos****/

	.logo-image img{
		display:none; /*will hide mobile/tablet logo in every screen above 1024px*/
	}

	.desktop-logo-wrapper{
		display:flex;
		flex-direction:row;
		justify-content:center;
	}

	.desktop-logo{
		display:flex;
		justify-content:center;
		text-align: center;
	}
}



