
/***********FOOTER SOCIAL ICONS ********/


.footer-social-icons{
  float:right;
  height:20px;
  padding-left:2%;
}

.footer-social-icons:hover{
  filter:grayscale(100%);
  cursor:pointer;
}

/***********MEDIA QUERIES ********/

@media screen and (min-width: 768px){
	/**** LOGO SIZE****/

	.logo-image img{
		max-height:150px;
	}
}